<div id="black-box">
    <a class="home" href="{{ HOME_PATH }}">Ravel<!-- &#x27F0; --></a></br>    
    <a  href="/archive.html">Archive<!-- &#x32AA; --></a></br>
    <!-- <a href="/search.html">☌</a><br><\!-- <br> -\-> -->
    <a href="{{ page.previous.url }}">&larr;<!-- &#x27F5; --></a><!-- <br><\!-- <br> -\-> -->     <a href="#">⇡</a>
    <a href="{{ page.next.url }}">&rarr;<!-- &#x27F6; --></a> 
  </div>

  <div id="page">
    
    <div class='signature'>
      <span class="date-abr">
    	{{page.date |date_to_string }}
      </span>
    </div>

  <h1 class="emphnext">{{ page.title }}</h1>

  <ul class="tag_box inline">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>

  {{ content }}

</div>

{% include JB/comments %}


